<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Donker.SystemTrayTools.WeekNumber.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="RefreshInterval" value="60000" />
	</appSettings>
    <userSettings>
        <Donker.SystemTrayTools.WeekNumber.AppSettings>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowBackColor" serializeAs="String">
                <value>False</value>
            </setting>
        </Donker.SystemTrayTools.WeekNumber.AppSettings>
    </userSettings>
</configuration>